In [5]:
import pandas as pd
#import the canonical Iris dataset for examples 
import seaborn as sns
iris = sns.load_dataset('iris')

In [41]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### List Comprehensions

Let's say we just want to keep columns with "width" in the title.

We can do this with a loop, or a list comprehension, both are valid (although a list comprehension will be less code). I found it useful to see the loop version of the same 
list comprehension to make it a bit more clear what was happening.

In [26]:
iris_cols_loop = [] #need to make a blank list so we can add to it 
for i in iris.columns:
    if "width" in i:#we are examining each column name for the substring "width" 
        iris_cols_loop.append(i)#if it is present, we append it to the iris_cols_loop list
iris_cols_loop

['sepal_width', 'petal_width']

In [27]:
[x for x in iris.columns if "width" in x] #We can see this code has the same output

['sepal_width', 'petal_width']

In the list comprehension we are saying x is going to loop through all the values of iris.columns in order and 
create a list of these values, but here only if they return true on "if "width" in x"

In [28]:
[x for x in iris.columns]

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

Above, without the filter of "if 'width' in x", we are just saying take x (which is just like the i in the loop) and loop through the columns names and return a list with every value.

#### Boolean Filtering

In [58]:
iris[iris["species"]=="versicolor"].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

The above meathod, which we talked about over zoom, is called boolean filtering.

In [59]:
iris["species"]=="versicolor"

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

If we run just the inner piece, we can see that we are returning a True/False value for each row on whether or not the column "species" is equal to versicolor. When we put this filter in the original file with brackets [ ], we are left with just the rows that returned true.

We can combine boolean filters either through multiple steps of the above, or by combining them in one call, like below.

In [60]:
iris[(iris["species"]=="versicolor")&(iris["sepal_length"]==5.1)]

    sepal_length  sepal_width  petal_length  petal_width     species
98           5.1          2.5           3.0          1.1  versicolor

#### Quick major differences between dictionaries and lists

Lists are ordered collections of elements, and therefore you can find values by their index position.

In [35]:
test_list = [10,20,30]
test_list[0]

10

Dictionaries are unordered combinations of key-value pairs (which makes searching them faster because they are stored as hash tables).
You access elements in a dictionary through their key value. The ability to associate two (or more) thing with each other can be helpful in many things, like reassigning values in the exapmle you showed me.

In [45]:
test_dictonary = {"Carolina":"UC Professor","Quinn":"UC Staff"}
test_dictonary["Carolina"]

'UC Professor'

In [46]:
test_dictonary["Quinn"]

'UC Staff'